build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/.symlinks/
*.iml
.idea/
.vscode/
server.log
flutter.log
